h1 {
    text-align: center;
    font-family: Times New Roman;
    color: black;
    font-size: 30px;
}

a{
    font-size: 12px;
}

a:hover{
    color: white;
}

a:visited {
    color: purple;
}

a:link {
    color: blue;
}

a:active {
    color: black;
}

table, td {
    border: 1px solid black;
    margin: auto;
}
